@page "/"

<PageTitle>List of books</PageTitle>

@inherits BookComponent


<div class="navbar">
    <h1>List of books</h1>
    <button type="button" class="btn btn-primary" @onclick="ToggleModal">Add book</button>
</div>

<Search OnSearch="SearchAsync"></Search>

<Modal 
    @bind-State="ModalState"
    Model="Model" 
    Authors="Authors"
    OnCreateRecord="CreateAsync"></Modal>

@if (Books == null || Books.Length == 0)
{
    <p>
        <em>There is no books yet.</em>
    </p>
}
else
{
    <Table Books="Books" OnRemoveAction="RemoveAsync"></Table>
}