@inherits BookTableComponent

<table class="table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Author</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    @foreach (var book in Books)
    {
        <tr>
            <td>@book.Name</td>
            <td>@book.Author.Name</td>
            <td>
                <button
                    class="btn btn-danger btn-sm"
                    type="button"
                    @onclick="() => OnRemoveAction.Invoke(book.Id)">
                    Remove
                </button>
            </td>
        </tr>
    }
    </tbody>
</table>