@page "/authors"

@inherits AuthorComponent;

<PageTitle>List of authors</PageTitle>

<div class="navbar">
    <h1>List of authors</h1>
    <button type="button" class="btn btn-primary" @onclick="ToggleModal">Add author</button>
</div>

<Search OnSearch="SearchAsync"></Search>

<Modal 
    @bind-State="ModalState"
    Model="Model" 
    OnCreateRecord="CreateAsync"></Modal>

@* <div class="modal @ModalCssClass" tabindex="-1" role="dialog"> *@
@*     <div class="modal-dialog" role="dialog"> *@
@*         <div class="modal-content"> *@
@*             <div class="modal-header"> *@
@*                 <h5 class="modal-title">Create Author</h5> *@
@*                 <button type="button" class="btn close" @onclick="ToggleModal"> *@
@*                     <span>&times;</span> *@
@*                 </button> *@
@*             </div> *@
@*             <div class="modal-body"> *@
@*                 <form> *@
@*                     <div class="form-group"> *@
@*                         <label for="name">Name</label> *@
@*                         <input id="name" type="text" class="form-control" required placeholder="Enter name" @bind="EditableAuthor.Name"> *@
@*                     </div> *@
@*                 </form> *@
@*             </div> *@
@*             <div class="modal-footer"> *@
@*                 <button type="button" class="btn btn-primary" @onclick="@(async () => await CreateRecord())">Save changes</button> *@
@*                 <button type="button" class="btn btn-secondary" @onclick="ToggleModal">Cancel</button> *@
@*             </div> *@
@*         </div> *@
@*     </div> *@
@* </div> *@

@if (Authors == null || Authors.Length == 0)
{
    <p>
        <em>There is no authors yet.</em>
    </p>
}
else
{
    <Table Authors="Authors" OnRemoveAction="RemoveAsync"></Table>
}